[Unit]
Description=Environment Detector
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node /home/ajthyng/detector/dist/main.js
WorkingDirectory=/home/ajthyng/detector
Restart=always
User=ajthyng
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target